<div class="favorito-box">
<h1>{{titleSection}}</h1>

<form #formFavorito="ngForm" (ngSubmit)="onSubmit()">
  <label>Titulo:</label>
  <p>
    <input type="text" name="title" #title="ngModel" [(ngModel)]="favorito.title" required/>
    <span *ngIf="title.touched && !title.valid">El titulo es obligatorio</span>
  </p>
  <label>Descripcion:</label>
  <p>
    <textarea input type="text" name="description" #description="ngModel" [(ngModel)]="favorito.description" required></textarea>
    <span *ngIf="description.touched && !description.valid">El description es obligatorio</span>
  </p>
  <label>URL:</label>
  <p>
    <input type="url" name="url" #url="ngModel" [(ngModel)]="favorito.url" required/>
  <span *ngIf="url.touched && !url.valid">El url es obligatorio</span>
  </p>
<input type="submit" value="{{titleSection}}">


</form>
</div>
